@CHARSET "UTF-8";

* {
	font-family: 標楷體;
}

body {
	background-image: url("../images/bgimg.jpg");
	background-repeat: repeat;
	/* 		margin:上下 左右; */
	/* 		margin:上 右 下 左; */
}

#headUl {
	/* 	title */
	margin: 10px;
}

.headList {
	/* 	title */
	/* 	border: 2px solid red; */
	font-weight: bold;
	font-size: 1.2em;
	/* 	background-color: blue; */
}

#headSearch {
	/* 	title */
	margin: 15px;
}

div ul li.active {
	/* 	title */
	font-weight: 900;
	font-size: 2em;
	/* 		border: 2px solid red; */
}

center {
	/* 	width: 850px; */
	
}

#drop-a-line {
	width: 85%;
	text-decoration: none;
}

form div .tooltipped {
	/* 	border:1px solid blue; */
	text-decoration: none;
}

.DetailTitle {
	/* 	各輸入項的名稱 */
	color: #3CB371;
	font-size: 1em;
}

form .glyphicon-star {
	color: red;
}

#warnText {
	text-align: left;
	color: red;
}

#imageName, #schoolName, #supplyName, #originalDemandNumber, #originalDemandUnit, #size, #supplyStatus, #demandContent, #remark {
	/* 	border: 1px solid blue; */
	font-size: 1.2em;
}

input[type="text"]:disabled {
	font-weight: bold;
}