<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>TCPIP</display-name>
  <resource-ref>
    <res-ref-name>jdbc/TCPIP</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>controller.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/donation/member.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DonationServlet</servlet-name>
    <servlet-class>controller.DonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationServlet</servlet-name>
    <url-pattern>/donation/donate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DemandSelected</servlet-name>
    <servlet-class>controller.DemandSelected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemandSelected</servlet-name>
    <url-pattern>/donation/demand.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DonationCartServlet</servlet-name>
    <servlet-class>controller.DonationCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationCartServlet</servlet-name>
    <url-pattern>/donation/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinallCheckCartServlet</servlet-name>
    <servlet-class>controller.FinallCheckCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinallCheckCartServlet</servlet-name>
    <url-pattern>/donation/checkOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderAccessServlet</servlet-name>
    <servlet-class>controller.OrderAccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderAccessServlet</servlet-name>
    <url-pattern>/donation/access.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessagesControllServlet</servlet-name>
    <servlet-class>controller.MessagesControllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessagesControllServlet</servlet-name>
    <url-pattern>/donation/messages.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DonationSearchServlet</servlet-name>
    <servlet-class>controller.DonationSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationSearchServlet</servlet-name>
    <url-pattern>/donation/search.do</url-pattern>
  </servlet-mapping>
</web-app>