@CHARSET "UTF-8";

input[type="text"]:disabled {
	font-weight: bold;
}

select:disabled {
	font-weight: bold;
}

.tabs .active {
	font-weight: bold;
	font-size: 2em;
}

#bodyContent {
	/* 	border: 2px solid red; */
	width: 85%;
}

.tabs li a {
	text-decoration: none;
}

.tabs li a:HOVER {
	text-decoration: none;
}

.warnText {
	text-align: center;
	color: red;
	font-weight: bold;
}

.redStar {
	color: red;
}

/* test1 */
#test1 table {
	font-size: 1.2em;
	cursor: default;
	background-color: white;
}

#test1 table tbody tr:HOVER {
	background-color: #CCEEFF;
}

#test1 table tr td {
	border: 1px solid #ff7575;
	text-align: center;
}

#test1 table thead tr {
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #ff7575;
	color: white;
}

#test1 table .amountRow {
	min-width: 200px;
}

#test1 .imgBill {
	vertical-align: middle;
	max-width: 100px;
	width: expression(this.width > 100 ? "100px" : this.width);
	max-height: 100px;
	height: expression(this.height > 100 ? "100px" : this.height);
	border: 1px solid black;
}

#test1 .textNeed, #test1 #textUnit {
	font-size: 1.2em;
	text-align: center;
	max-width: 58px;
}

#test1 .remark01 {
	background-color: white;
	text-align: left;
	width: 200px;
	height: 100px;
	overflow: auto;
	border: 1px solid black;
	padding: 5px;
}

/* test2 */
#test2 table {
	font-size: 1.2em;
	cursor: default;
	background-color: white;
}

#test2 table tbody tr:HOVER {
	background-color: #CCEEFF;
}

#test2 table tr td {
	border: 1px solid #ff7575;
	text-align: center;
}

#test2 table thead tr {
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #ff7575;
	color: white;
}

#test2 .textNeed, #test2 #textUnit {
	font-size: 1.2em;
	text-align: center;
	max-width: 58px;
}

#test2 .imgBill {
	vertical-align: middle;
	max-width: 100px;
	width: expression(this.width > 100 ? "100px" : this.width);
	max-height: 100px;
	height: expression(this.height > 100 ? "100px" : this.height);
	border: 1px solid black;
}

#test2 .remark {
	background-color: white;
	text-align: left;
	max-width: 200px;
	min-height: 80px;
	max-height: 100px;
	word-break: break-all;
	overflow: auto;
	border: 1px solid black;
	padding: 5px;
}

#test2 {
	text-align: center;
}

#test2 select {
	border: 1px solid black;
	border-radius: 4px;
	width: 45%;
}

#test2 #ddlCity, #test2 #ddlCity1, #test2 #addressLeft01 {
	float: left;
}

#test2 #ddlArea, #test2 #addressLeft02, #test2 #ddlOcname_ex, #test2 #ddlArea1, #test2 #textLeft06 {
	float: right;
}

#test2 div input[id^=text] {
	font-size: 1.2em;
}

#test2 .leftTitle, #test2 .rightTitle {
	color: #3CB371;
	font-size: 2em;
}

#test2 .DetailTitle {
	/* 	各輸入項的名稱 */
	font-size: 1.4em;
}

#test2 .DetailTitle01 {
	/* 	各輸入項右下的名稱 */
	color: #3CB371;
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}

#test2 .hrefToWebsite {
	color: #5599FF;
}

#ddlGcname_ex, #txtGtel, #txtGmobile, #txtPkgremark {
	display: none;
}

/* test3 */
#test3 table {
	font-size: 1.2em;
	cursor: default;
	background-color: white;
}

#test3 table tbody tr:HOVER {
	background-color: #CCEEFF;
}

#test3 table tr td {
	border: 1px solid #ff7575;
	text-align: center;
}

#test3 table thead tr {
	font-weight: bold;
	border-bottom: 1px solid black;
	background-color: #ff7575;
	color: white;
}

#result {
	padding: 10px;
	height: 50px;
}

/* Modal 專用 */
#test1 #modalNote01 .modal-content {
	color: black;
	text-align: left;
	font-size: 1.4em;
}

#test2 .modal-content {
	color: black;
	text-align: left;
	font-size: 1.4em;
}

#test2 .modal-content {
	color: black;
	text-align: left;
	font-size: 1.2em;
}

.modal-content h4 {
	font-size: 1.4em;
	text-align: center;
}