@CHARSET "UTF-8";

#wholeForm {
	width: 85%;
	text-decoration: none;
}

form div .tooltipped {
	/* 項目標頭 */
	font-size: 1.2em;
	text-decoration: none;
}

form .glyphicon-star {
	color: red;
}

#warnText {
	text-align: center;
	color: red;
}

#imageName, #schoolName, #supplyName, #originalDemandNumber, #originalDemandUnit, #size, #supplyStatus, #demandContent, #remark {
	/* 	border: 1px solid blue; */
	font-size: 1.2em;
}

input[type="text"]:disabled {
	font-weight: bold;
}

i[id^="requiredStar"] {
	color: red;
}

.DetailTitle {
	float: left;
}
