@CHARSET "UTF-8";

#donationPicture {
	vertical-align: middle;
	
	max-width: 400px;
	width: expression(this.width > 400 ? "400px" : this.width);
	max-height: 400px;
	height: expression(this.height > 400 ? "400px" : this.height);
}

#donationPictureFrame {
	padding: 0px;
	background-color: white;
	line-height: 400px;
	width: 402px;
	height: 403px;
	border: 1.5px dashed black;
}

#donationPictureFrame:HOVER {
	border: 1.5px solid black;
	cursor: pointer;
}

#imageName {
	display: none;
}

#basicDataHead {
	text-align: left;
	height: 450px;
}